body {
    margin:0%;
}

.container{
background-color: #1F2937;
height: 50px;
color: #e5e7eb;
size: 18px;
display: flex;
font-family: Helvetica, sans-serif;
padding-top: 30px;
padding-left: 210px;
padding-right: 210px;
}

.logo {
    position:relative;
    bottom: 6px;
    font-size: 22px;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 0;
    color: white;
    font-weight: 600;
}
.linkone {
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 0;
}
.linktwo {
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 0;
}
.linkthree {
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 0;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 445px;
    font-family: Helvetica, sans-serif;
    padding-left: 210px;
    padding-right: 210px;
} 

.left {
    flex: 1;
    padding-right: 45px;
}

.right {
    flex: 1;
    color: #e5e7eb;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    margin-top: 10px;
    padding: 8px;
    inline-size: 107px;
    background-color: #3882F6;
    border-radius: 7px;
    
}

.button-text {
    color:#e5e7eb;
    font-size: 18px;
    font-weight: bold;
    padding-left: 19px;
}

.placeholder {
    height: 235px;
    background-color: grey;
    flex: 1;
}

.placeholder-text {
    font-size: 18px;
    text-align: center;
    padding-top: 111px;
}

.information {
    background-color: white;
    height: 460px;
}
.information-header {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.flex-boxes {
    display: flex;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
}

.container-2 {
    flex-direction: column;
}
.box {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 4px solid #3882F6;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}
.text1 {
    text-align: center;
    padding-top:10px;
    padding-right: 50px;
    color: #1F2937;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
.container-quote {
    background: #e5e7eb;
    height: 380px;
}
.text-quote {
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937

}